<div class="flex flex-col w-full h-full items-center shadow-amber-100">
  <div class="md:max-w-5/6 w-full h-full">
    <div class="flex flex-col justify-between h-full space-y-2 p-1 w-full">
      @if (responseData.length > 0) {
      <!-- <app-prompt-response [responses]="responseData" /> -->
       <app-chat-session-component [responses]="responseData" [sessionData]="sessionData" class="h-full"/>
      } @if (responseData.length < 1) {
      <app-home-card
        [isVisible]="responseData.length < 1"
        class="flex flex-col justify-center self-center h-full w-full max-w-4xl"
      />
      }
      <app-prompt-composer
        (responseData)="handleResponsesData($event)"
        (newChatStarted)="handleNewChat()"
        [sessionId]="currentSessionId"
        class="self-center w-full py-2 max-w-4/5"
      />
    </div>
  </div>
</div>
