<div class="flex flex-col gap-5 items-center justify-center  w-full h-full">
<div class="flex flex-col md:max-w-5/6 w-full h-full items-center justify-center shadow-amber-100">
    <div class="flex flex-col justify-between h-full space-y-2 md:p-0 p-2 w-full">
      @if (responseData.length > 0) {
      <!-- <app-prompt-response [responses]="responseData" /> -->
       <app-chat-session-component [responses]="responseData" [sessionData]="sessionData" class="h-full mb-48 border border-primary-contrast"/>
      } @if (responseData.length < 1) {
      <app-home-card
        [isVisible]="responseData.length < 1"
        class="flex flex-col justify-center self-center h-full w-full max-w-5/6"
      />
      }
    </div>
    </div>
      <app-prompt-composer
        (responseData)="handleResponsesData($event)"
        (newChatStarted)="handleNewChat()"
        [sessionId]="currentSessionId"
        class="self-center w-full py-2 md:max-w-5/6 max-w-full bg-primary-contrast fixed bottom-0 border border-primary-contrast md:p-0 p-2"
      />
</div>
