<div class="mb-4 py-4 px-1 flex items-start justify-center w-full h-full">
  <p-card class="w-full md:max-w-4xl h-fit">
    
    <div class="flex flex-col gap-3 py-2">
      <span
        class="flex justify-between text-lg font-semibold rounded-lg shadow-2xs p-2 py-5
        bg-gradient-to-br from-emerald-200 to-emerald-100
        dark:from-stone-950 dark:to-stone-800"
        >{{ chat?.prompt }}
    <a routerLink="/chat" class="font-semibold flex items-center justify-end"
        ><i class="pi pi-plus-circle" title="Start New Chat"></i
      ></a>
    </span>
        
      <p class="whitespace-pre-wrap">
        {{ chat?.response }}
      </p>
    </div>
  </p-card>
</div>
