<p-toast />
@if (errorMessage) {
<div class="text-red-600 dark:text-red-400">{{ errorMessage }}</div>
}
<div class="card flex flex-col justify-center items-center h-full p-2">
  <div class="flex flex-col w-full gap-5 min-h-1/2 md:max-w-2xl bg-stone-200 dark:bg-zinc-800 p-5 rounded-xl">
    <app-brand class="shadow shadow-amber-200 rounded-xl backdrop-brightness-90"/>
    <div class="card-header">Create an account</div>
  <form
    [formGroup]="exampleForm"
    (ngSubmit)="onSubmit()"
    class="flex flex-col gap-4 w-full "
  >
    <div class="flex flex-col gap-1">
      <input
        pInputText
        type="text"
        id="username"
        placeholder="Name"
        formControlName="username"
        [invalid]="isInvalid('username')"
        autocomplete="username"
      />
      @if (isInvalid('username')) {
      <p-message severity="error" size="small" variant="simple"
        >Name is required.</p-message
      >
      }
    </div>
    <div class="flex flex-col gap-1">
      <input
        pInputText
        type="email"
        id="email"
        placeholder="Email"
        formControlName="email"
        [invalid]="isInvalid('email')"
        autocomplete="email"
      />
      @if (isInvalid('email')) { @if
      (exampleForm.get('email')?.errors?.['required']) {
      <p-message severity="error" size="small" variant="simple"
        >Email is required.</p-message
      >
      } @if (exampleForm.get('email')?.errors?.['email']) {
      <p-message severity="error" size="small" variant="simple"
        >Please enter a valid email.</p-message
      >
      } }
    </div>
    <div class="flex flex-col gap-1">
      <input
        pInputText
        type="password"
        id="password"
        placeholder="Password"
        formControlName="password"
        [invalid]="isInvalid('password')"
        autocomplete="password"
      />
      @if (isInvalid('password')) {
      <p-message severity="error" size="small" variant="simple"
        >Password is required.</p-message
      >
      }
    </div>
    <button pButton type="submit">
      <span pButtonLabel>Create account</span>
    </button>
  </form>
  <div class="flex justify-end p-2 text-stone-500 gap-2">Already have an account?<a routerLink="/signin">Sign In</a>here</div>
  </div>
</div>
