@if (shareTokens.length > 0) {
  <div class="flex flex-col border-b-4 border-blue-200 bg-sky-100 dark:bg-gray-900 text-gray-800 dark:text-gray-400 mb-10">
      <div class="flex items-center justify-between   p-2 mb-5 w-full">
        <div class="flex items-center gap-2">
          <i class="pi pi-send"></i>
          <span class="text-sm font-medium">
            Shared publicly • {{ chat.interactions?.views || 0 }} views
          </span>
        </div>
        
        <div class="flex items-center gap-2 mt-2">
          <button 
            (click)="copyShareLink()" 
            class=" dark:text-sky-200 text-sky-500 hover:dark:text-amber-300 hover:cursor-pointer">
            Copy link
          </button>|
          <button 
            (click)="stopSharing()" 
            class=" text-red-500 dark:text-sky-200 hover:text-red-800 hover:dark:text-red-400 hover:cursor-pointer">
            Stop sharing
          </button>
        </div>
      </div>
      <a href={{sharedUrl}} class="text-muted-color text-sm">{{sharedUrl}}</a>
      </div>
    }