<div
  class="flex flex-col gap-10 p-5 md:m-10 m-2 bg-stone-100 dark:text-stone-100 dark:bg-stone-900 rounded-lg min-h-fit"
>
  <div class="flex gap-2 items-center justify-end bg-white dark:bg-stone-700 p-5 rounded-2xl">
    <p-button
      label="Delete All"
      severity="danger"
      icon="pi pi-trash"
      (onClick)="confirmDeleteSession(chats && chats[0] ? chats[0].sessionId : 0)"
    />
  </div>
  @for (chat of chats; track $index) {
  <div class="flex flex-col gap-3">
    <div
      class="flex gap-2 items-center shadow-2xs p-5 bg-gradient-to-br from-stone-50 to-stone-200 rounded-xl
      dark:from-stone-700 dark:to-stone-900"
    >
      

      <div
        class="flex w-full justify-between text-lg font-semibold "
        >{{ chat?.prompt }}
  </div>
      <p-button
        severity="danger"
        icon="pi pi-trash"
        (onClick)="confirmDeleteChat(chat.id)"
      />
    </div>

    <div class="flex flex-col gap-2">
      <div class="whitespace-pre-wrap p-5">
        {{ chat?.response }}
      </div>
    </div>
  </div>
  }
</div>
