<p-fluid  class="w-full h-full justify-center flex"><div
class="flex flex-col gap-2 p-1 my-1 bg-gradient-to-r from-stone-200 via-stone-50 to-stone-200
 dark:from-neutral-700 dark:via-neutral-800 dark:to-neutral-700 min-h-fit text-zinc-800 dark:text-zinc-200 backdrop-opacity-5 w-full rounded-2xl">
  <div class="flex flex-col gap-5 items-end bg-stone-50 dark:bg-neutral-900 justify-end rounded-2xl h-full">
    <p-button
      label="Delete All"
      severity="contrast"
      icon="pi pi-trash" class="m-3"
      (onClick)="confirmDeleteSession(responses && responses[0] ? responses[0].sessionId : 0)"
    />
  
  @for (chat of responses; track $index) {
  <div class="flex flex-col gap-3 w-full h-full">
    <div class="flex gap-2 items-center p-3 bg-stone-200 dark:bg-neutral-950 shadow w-full">
      <div
        class="flex w-full items-center px-3 gap-2"
        ><span class="text-muted-color">You: </span><span>{{ chat?.prompt }}</span>
  </div>
      <p-button
        severity="contrast"
        icon="pi pi-trash"
        [text]="false"
        (onClick)="confirmDeleteChat(chat.id)"
      />
    </div>

    <div class="flex flex-col gap-2">
      <div class="whitespace-pre-wrap p-5">
        <i [class]="getProviderIcon(chat?.provider)" class="text-lg text-amber-400"></i>
        {{ chat?.response }}
      </div>
    </div>
  </div>
  }
</div>
</div>
</p-fluid>
