<div class="flex flex-col gap-2 w-full h-full justify-center max-h-full overflow-y-clip">
  <div class="w-full h-full max-h-full overflow-y-auto relative top-20 mb-20">
    @if (responseData.length > 0) {
    <app-prompt-response [responses]="responseData" class="min-h-fit"/>
    } @if (responseData.length < 1) {
    <app-home-card [isVisible]="responseData.length < 1" class="h-full flex items-center"/>
    }
  </div>
  <app-prompt-composer
    (responseData)="handleResponsesData($event)"
    class="w-full self-center max-w-4xl p-1"
  />
</div>
