<div class="p-4 rounded-full border-2 border-stone-200 shadow-lg shadow-green-300 w-full social-links flex justify-between items-center text-surface-600 dark:text-surface-200 cursor-pointer p-ripple">
        <a
          href="https://github.com/codingburo"
          aria-label="Github"
          target="_blank"
          rel="noopener"
        >
          <i class="pi pi-github mr-2"></i>
        </a>
        <a
          href="https://x.com/codingburo"
          aria-label="Twitter"
          target="_blank"
          rel="noopener"
        >
          <i class="pi pi-twitter mr-2"></i>
        </a>
        <a
          href="https://www.youtube.com/@codingburo"
          aria-label="Youtube"
          target="_blank"
          rel="noopener"
        >
          <i class="pi pi-youtube mr-2 text-red-600"></i>
        </a>
      </div>