<div
  class="p-4 rounded-full border-2 border-stone-200 shadow-xs shadow-stone-200 w-full social-links flex justify-between items-center text-surface-600 dark:text-surface-200 cursor-pointer p-ripple
  space-x-3"
>
  <a
    pRipple
    href="https://github.com/codingburo"
    aria-label="Github"
    target="_blank"
    rel="noopener"
    class="links"
  >
    <i class="pi pi-github"></i>
  </a>
  <a
    pRipple
    href="https://x.com/codingburo"
    aria-label="Twitter"
    target="_blank"
    rel="noopener"
    class="links"
  >
    <i class="pi pi-twitter"></i>
  </a>
  <a
    pRipple
    href="https://www.youtube.com/@codingburo"
    aria-label="Youtube"
    target="_blank"
    rel="noopener"
    class="links"
  >
    <i class="pi pi-youtube text-red-600"></i>
  </a>
  <a
    pRipple
    target="_blank"
    class="links"
    href="{{ sbaweb_link }}"
    target="_blank"
  >
    <!-- <p-avatar image="/favicon.ico" shape="circle" /> -->
     <i class="pi pi-link text-red-600"></i>
  </a>
</div>
