<div
  class="flex flex-col p-1 gap-3 max-w-full border border-slate-200 dark:border-slate-800 shadow rounded-md my-2"
  *ngFor="let response of responses; let i = index"
>
  <div class=" rounded-md bg-zinc-100 dark:bg-slate-800 whitespace-pre-wrap p-3">
    <span class="font-semibold text-slate-500 dark:text-slate-500">You:</span> {{ response.prompt.trimEnd().toLocaleUpperCase() }}
  </div>
  <p class="text-slate-900 dark:text-slate-300 mb-5 whitespace-pre-wrap p-3">
    {{ response.response }}
  </p>
</div>
