<div
  class="flex flex-col p-1 gap-3 max-w-full border bg-stone-50 dark:bg-slate-900 border-slate-200 dark:border-slate-800 shadow rounded-t-xl my-2 opacity-90 h-it min-h-fit w-full min-w-full"
  *ngFor="let response of responses; let i = index"
>
  <div class="rounded-t-xl bg-stone-200 dark:bg-slate-800 whitespace-pre-wrap p-3">
    <span class="font-semibold text-slate-500 dark:text-slate-500">You:</span> {{ response.prompt.trimEnd().toLocaleUpperCase() }}
  </div>
  <p class="text-slate-950 dark:text-slate-950 mb-5 whitespace-pre-wrap p-3 ">
    {{ response.response }}
  </p>
</div>
