@reference "tailwindcss";
.a-header{
@apply text-emerald-950 dark:text-amber-400;
}
.a-footer{
@apply text-stone-600 dark:text-stone-400;
}

.a-footer-links{
@apply  dark:text-sky-300 hover:dark:text-sky-100 text-sky-700 hover:text-sky-950;
}


.p-button_landing{
    @apply border bg-emerald-200 border-emerald-700 dark:bg-emerald-700 text-stone-50 hover:border-yellow-500  dark:border-emerald-400 rounded-lg p-3 px-5; 
}

.p-button-outline{
    @apply bg-transparent border border-emerald-700 dark:border-emerald-400 rounded-lg p-3 px-5 hover:border-yellow-500;
}

.feature-card{
    @apply bg-white dark:bg-gray-950 dark:text-stone-100 p-6 rounded-2xl border border-emerald-100 dark:border-emerald-950 shadow hover:shadow-lg dark:shadow-emerald-800 transition-all duration-300;
}