<p-fluid class="w-full mb-4 flex items-center justify-center" *ngIf="isVisible">
    <p-card class="w-full md:max-w-4xl" [style]="{  overflow: 'hidden' }">
        <ng-template #header>
            <div class="bg-green-100 dark:bg-neutral-800"><app-brand/></div>
        </ng-template>
        <ng-template #title> Welcome! </ng-template>
        <ng-template #subtitle> AI Driven Innovation </ng-template>
        <p>
            Try asking the AI about Weather (Currently only available for US states)
        </p>
        
    </p-card>
</p-fluid>