<p-fluid class="flex flex-col w-full">
  <div class="rounded-4xl shadow bg-stone-100 dark:bg-stone-950 p-5">
    <textarea
      class="shadow"
      placeholder="Ask AI anything"
      [(ngModel)]="prompt"
      variant="filled"
      rows="1"
      pTextarea
      autoResize="true"
      autofocus
      (keydown.enter)="prompt !== '' ? getPrompt() : null"
    ></textarea>

    <div class="flex flex-row justify-between">
      <div class="py-2 max-w-sm">
        <p-selectbutton class="text-nowrap w-fit min-w-fit"
          [options]="promptOptions"
          [(ngModel)]="selectedAction"
          [multiple]="false"
          optionLabel="name"
          optionValue="value"
        />
      </div>
      <div class="flex flex-row items-center rounded-full">
        <p-button 
          icon="pi pi-paperclip"
          aria-label="Attach file"
          [rounded]="true"
          [text]="true"
          severity="secondary"
          [outlined]="false"
        />
        <p-button
          icon="pi pi-microphone"
          aria-label="Prompt Coding Buro"
          [rounded]="true"
          [text]="true"
          severity="secondary"
          [outlined]="false"
        /><p-button
          aria-label="Prompt Coding Buro"
          icon="pi pi-arrow-circle-up"
          [text]="true"
          [disabled]="prompt === ''"
          (onClick)="getPrompt()"
          loading="{{ isLoading }}"
        />
      </div>
    </div>
  </div>
</p-fluid>
