<p-fluid class="flex flex-col w-full md:max-w-4xl p-2">
  <div class="flex flex-col w-full p-5 rounded-xl border border-green-200 shadow bg-neutral-100">
    <textarea
      class="border border-stone-50 shadow"
      placeholder="Ask AI anything"
      [(ngModel)]="prompt"
      variant="filled"
      rows="1"
      pTextarea
      autoResize="true"
      autofocus
      (keydown.enter)="prompt !== '' ? getPrompt() : null"
    ></textarea>

    <div class="flex flex-row justify-between">
      <div class="py-2 max-w-sm overflow-x-scroll">
        <p-selectbutton
          [options]="promptOptions"
          [(ngModel)]="selectedAction"
          [multiple]="false"
          optionLabel="name"
          optionValue="value"
        />
      </div>
      <div class="flex flex-row items-center rounded-full">
        <p-button 
          icon="pi pi-paperclip"
          aria-label="Attach file"
          [rounded]="true"
          [text]="true"
          severity="secondary"
          [outlined]="false"
        />
        <p-button
          icon="pi pi-microphone"
          aria-label="Prompt Coding Buro"
          [rounded]="true"
          [text]="true"
          severity="secondary"
          [outlined]="false"
        /><p-button
          aria-label="Prompt Coding Buro"
          icon="pi pi-arrow-circle-up"
          [text]="true"
          severity="contrast"
          [disabled]="prompt === ''"
          (onClick)="getPrompt()"
          loading="{{ isLoading }}"
        />
      </div>
    </div>
  </div>
</p-fluid>
