<p-fluid class="w-full">
  <div class="rounded-xl shadow bg-emerald-100 border border-emerald-300 dark:border-neutral-700 dark:bg-neutral-950 p-3 relative">
    <textarea
      class="shadow"
      placeholder="Ask Cobu anything"
      [(ngModel)]="prompt"
      variant="filled"
      rows="1"
      pTextarea
      autoResize="true"
      autofocus
      (keydown.enter)="prompt !== '' ? getPrompt() : null"
    ></textarea>

    <div class="flex flex-row justify-between md:items-baseline">
      <div class="py-2 max-w-sm">
        <p-selectbutton class="text-nowrap w-fit min-w-fit text-ellipsis items-start"
          [options]="promptOptions"
          [(ngModel)]="selectedAction"
          [multiple]="false"
          optionLabel="name"
          optionValue="value"
        />
      </div>
      <div class="flex flex-row items-center rounded-full">
        <p-button 
          icon="pi pi-paperclip"
          aria-label="Attach file"
          [rounded]="true"
          [text]="true"
          severity="secondary"
          [outlined]="false"
        />
        <p-button
          icon="pi pi-microphone"
          aria-label="Prompt Coding Buro"
          [rounded]="true"
          [text]="true"
          severity="secondary"
          [outlined]="false"
        /><p-button
          aria-label="Prompt Coding Buro"
          icon="pi pi-arrow-circle-up"
          [text]="true"
          [disabled]="prompt === ''"
          (onClick)="getPrompt()"
          loading="{{ isLoading }}"
        />
      </div>
    </div>
    <p class="text-neutral-500 dark:text-stone-100">
    Try asking Cobu about Weather <span>(US Cities &states)</span> e.g.
    <span class="text-sky-400 dark:text-sky-300 font-bold"
      >"Weather in TX", "Temp in The Sunshine State"</span
    >
  </p>
  </div>
</p-fluid>
