<div class="card flex justify-center h-full">
  <p-drawer #drawerRef [(visible)]="visible" [fullScreen]="false">
    <ng-template #headless>
      <div class="flex flex-col h-full">
        <div class="flex items-center justify-between px-6 pt-4 shrink-0">
          <app-brand />
          <span class="flex flex-row gap-2 items-center">
            <!-- <div class="text-center text-2xl">Coding Buro</div> -->
            <p-button
              type="button"
              (click)="closeCallback($event)"
              icon="pi pi-times"
              rounded="true"
              outlined="true"
              styleClass="h-8 w-8"
            ></p-button>
          </span>
        </div>
        <div class="flex justify-center">
          <app-socials class="relative bottom-2 w-full m-2"/>
        </div>
        <app-chat-list-component (click)="closeCallback($event)"/>
      </div>
    </ng-template>
  </p-drawer>
  <!-- <p-button (click)="visible = true" icon="pi pi-bars" class="dark:bg-slate-950"  aria-label="Show Sidebar"/> -->
  <i class="pi pi-bars links" style="font-size: 1.5rem" (click)="visible = true"></i>
  
</div>
