<div class="card flex justify-center h-full">
  <p-drawer #drawerRef [(visible)]="visible" [fullScreen]="false">
    <ng-template #headless> 
    <div class="flex flex-col h-full gap-10">
        <div class="flex items-center justify-between px-6 pt-4 shrink-0">
          <app-brand />
          <span class="flex flex-row gap-2 items-center">
            <p-button
              type="button"
              (click)="closeCallback($event)"
              icon="pi pi-times"
              rounded="true"
              outlined="true"
              styleClass="h-8 w-8"
            ></p-button>
          </span>
        </div>
        
        
        <app-chat-list-component (click)="closeCallback($event)" class="h-full overflow-y-scroll"/>
        <app-socials class="relative w-full"/>
      </div>
      </ng-template> 
  </p-drawer>
  <i class="pi pi-bars links" style="font-size: 1.5rem" (click)="visible = true"></i>
</div>
