<div class="card flex justify-center">
  <p-drawer #drawerRef [(visible)]="visible">
    <ng-template #headless>
      <div class="flex flex-col h-full">
        <div class="flex items-center justify-between px-6 pt-4 shrink-0">
          <app-brand />
          <span>
            <p-button
              type="button"
              (click)="closeCallback($event)"
              icon="pi pi-times"
              rounded="true"
              outlined="true"
              styleClass="h-8 w-8"
            ></p-button>
          </span>
        </div>
        <div class="overflow-y-auto">
          
          <ul class="list-none p-4 m-0">
            <li>
              <app-socials />
            </li>
          </ul>
        </div>
      </div>
    </ng-template>
  </p-drawer>
  <!-- <p-button (click)="visible = true" icon="pi pi-bars" class="dark:bg-slate-950"  aria-label="Show Sidebar"/> -->
  <i class="pi pi-bars hover:cursor-pointer hover:dark:bg-slate-800 hover:bg-stone-200 hover:rounded-full p-3" style="font-size: 1.5rem" (click)="visible = true"></i>
</div>
