@if (isLoading) {
  <app-loading-component class="w-full"/>
  }
  
<div
  class="rounded-2xl p-4 m-2"
>
    <div class="flex items-center gap-2 w-full"><textarea
      class="shadow w-full"
      placeholder="Ask Cobu anything - using {{selectedProvider}}"
      [(ngModel)]="prompt"
      variant="filled"
      rows="1"
      pTextarea
      autoResize="true"
      autofocus="true"
      (keydown.enter)="prompt !== '' ? getPrompt() : null"
    ></textarea>
    <p-button
        aria-label="Prompt Coding Buro"
        icon="pi pi-arrow-circle-up"
        text="true"
        [rounded]="true"
        [disabled]="prompt === '' || isLoading"
        (onClick)="getPrompt()"
        [loading]="isLoading"
        severity="contrast"
      />
    </div>
  

  <div class="flex flex-row justify-center items-center my-5 md:items-baseline">
    
    
    <div class="flex flex-row items-center rounded-full gap-2">
      <label class="text-muted-color-emphasis">
        Choose your AI assistant
      </label>
      <p-select [options]="providerOptions" [(ngModel)]="selectedProvider" optionLabel="label" optionValue="value" placeholder="Select Provider" class="w-fit" />
      
    </div>
  </div>
  <p class="text-muted-color w-full text-center">
    Try asking Cobu about Weather <span>(US Cities &states)</span> e.g.
    <span
      >"Weather in TX", "Temp in The Sunshine State"</span
    >
  </p>
</div>
