@if (isLoading) {
  <app-loading-component class="w-full"/>
  }
  
<div
  class="rounded-2xl bg-stone-100 border border-stone-200 dark:border-gray-900 shadow shadow-amber-200 dark:shadow-amber-800 dark:bg-gray-950 p-4"
>
    <div class="flex items-center gap-2 w-full"><textarea
      class="shadow w-full"
      placeholder="Ask Cobu anything - using {{selectedProvider}}"
      [(ngModel)]="prompt"
      variant="filled"
      rows="1"
      pTextarea
      autoResize="true"
      autofocus="true"
      (keydown.enter)="prompt !== '' ? getPrompt() : null"
    ></textarea>
    <p-select [options]="providerOptions" [(ngModel)]="selectedProvider" optionLabel="label" optionValue="value" placeholder="Select Provider" class="w-fit" /></div>
  

  <div class="flex flex-row justify-between items-center my-5 md:items-baseline">
    <div class="py-2 max-w-sm">
      <p-selectbutton
        class="text-nowrap w-fit min-w-fit text-ellipsis items-start"
        [options]="promptOptions"
        [(ngModel)]="selectedAction"
        [multiple]="false"
        optionLabel="name"
        optionValue="value"
      />
    </div>
    
    <div class="flex flex-row items-center rounded-full">
      <p-button
        icon="pi pi-pen-to-square"
        aria-label="New Chat"
        [rounded]="true"
        [text]="true"
        severity="primary"
        [outlined]="false" title="Start New Chat"
        (onClick)="startNewChat()"
      />
      <p-button
        icon="pi pi-paperclip"
        aria-label="Attach file"
        [rounded]="true"
        [text]="true"
        severity="secondary"
        [outlined]="false"
      />
      <p-button
        icon="pi pi-microphone"
        aria-label="Prompt Coding Buro"
        [rounded]="true"
        [text]="true"
        severity="secondary"
        [outlined]="false"
      /><p-button
        aria-label="Prompt Coding Buro"
        icon="pi pi-arrow-circle-up"
        text="true"
        
        [disabled]="prompt === '' || isLoading"
        (onClick)="getPrompt()"
        [loading]="isLoading"
      />
    </div>
  </div>
  <p class="text-muted-color w-full text-center">
    Try asking Cobu about Weather <span>(US Cities &states)</span> e.g.
    <span
      >"Weather in TX", "Temp in The Sunshine State"</span
    >
  </p>
</div>
