/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@plugin "tailwindcss-primeui";
@import "primeicons/primeicons.css";



:host {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* body{
    
    @apply bg-radial dark:from-slate-950 dark:via-slate-900 dark:to-slate-950 from-emerald-900 via-amber-50 to-emerald-100 h-dvh;
} */
  body{
    
    @apply h-dvh;
}


.bouncingDot{
    @apply h-3 w-3 rounded-full bg-stone-700 dark:bg-amber-200 animate-bounce;
}

/* a {
    @apply text-stone-800 dark:text-zinc-300;
} */
.card-header{
  @apply text-xl text-stone-700 dark:text-stone-300 font-semibold;
}

.highlight{
    @apply text-stone-700 dark:text-stone-300 font-semibold;
}

.links{
    @apply items-center justify-center hover:cursor-pointer hover:dark:bg-slate-800 hover:bg-stone-200 hover:rounded-full aspect-square p-3;
}

/* .p-button {
  @apply bg-purple-700 dark:bg-emerald-950 text-stone-50 dark:text-stone-300 dark:border-emerald-900;
} */

.hi-button {
  @apply bg-transparent text-slate-900 border border-emerald-300 dark:border-emerald-800 dark:text-stone-300;  
}

.gradient-text{
  @apply bg-gradient-to-r dark:from-stone-400 from-emerald-800 via-sky-600 to-emerald-600 inline-block text-transparent bg-clip-text;
}
.gradient-text2{
  @apply bg-gradient-to-r dark:from-stone-300 from-stone-500 via-sky-500 to-emerald-800 dark:to-emerald-500 inline-block text-transparent bg-clip-text;
}

.a_span{
  @apply text-blue-400 dark:hover:text-yellow-500 hover:text-yellow-500 dark:text-blue-400;
}

.a_span_buttons{
  @apply text-stone-900 dark:text-stone-200 hover:text-stone-700 dark:hover:text-amber-200;
}





  