<div class="px-4 text-stone-400 dark:text-stone-500 font-semibold w-full">Chats</div>
@for (session of chatService.sessionSignal(); track $index) {
<div class="flex px-2 gap-2 items-start w-full hover:bg-stone-200 hover:dark:bg-gray-800">
  <a [routerLink]="['/chat', session.id]" class="p-2 truncate w-full" title={{session.title}}><span class="text-muted-color  w-full">{{ session.title }}</span></a>
  <!-- <a [routerLink]="['/chats', chat.sessionId]" title={{chat.prompt}}>{{ chat.prompt }}</a> -->
  
</div>
}
